cdef cppclass {{ name }}:
{%- for field in fields %}
    {{ field }}
{%- endfor %}
{%- for ctor in ctors %}
    {{ ctor }}
{%- endfor %}
{%- for method in methods %}
    {{ method|indent(4) }}
{%- endfor %}
    pass