{% for typedef in typedefs %}
{{ typedef }}
{% endfor %}
{% for enum in enums %}
{{ enum }}
{% endfor %}
{% for function in functions %}
{{ function }}
{% endfor %}
{% for class in classes %}
{{ class }}
{% endfor %}
{% for constant in constants %}
{{ constant }}
{% endfor %}