{% if cppdecls %}
cdef extern from "{{ filename }}" namespace "{{ namespace }}":
{% for decl in cppdecls %}
    {{ decl | indent(4)}}
{% endfor %}
{%- endif %}

{% if cdecls -%}
cdef extern from "{{ filename }}":
{% for decl in cdecls %}
    {{ decl | indent(4)}}
{% endfor %}
{%- endif %}