{{def_prefix}} {{name}}({{args}}):
{%- for input_conversion in input_conversions %}
    {%- if input_conversion != "" %}
    {{ input_conversion|indent(4) }}
    {%- endif %}
{%- endfor %}
    {{ return_output|indent(4) }}